/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex {
	color: #20387A;
}

.My-Color-Theme-2-hex {
	color: #8CA9FA;
}

.My-Color-Theme-3-hex {
	color: #4172FA;
}

.My-Color-Theme-4-hex {
	color: #45537A;
}

.My-Color-Theme-5-hex {
	color: #345BC7;
}

body {
	background-color: #8CA9FA;
}

.menu {
	color: #20387A;
}

.hello {
	color: #20387A;
}

.list {
	color: #20387A;
}

.photos {
	color: #20387A;
}

.photo-link {
	color: #20387A;
}

.tables-cloud-services,
.train-tables {
	color: #20387A;
	padding-bottom: 20px;
}

.tables-cloud-services>table,
.train-tables>table {
	border-collapse: collapse;
}

.tables-cloud-services>table th,
.tables-cloud-services>table td,
.train-tables>table th,
.train-tables>table td {
	padding: 10px;
	border: 1px solid #2a2a2a;
}

.photos-format {
	color: #20387A;
}

.test {
	color: #4172FA
}

.verse {
	color: #20387A;
}

.test-symbol {
	color: #20387A;
}

.video {
	color: #20387A;
}

.audio {
	color: #20387A;
}