/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex {
	color: #20387A;
}

.My-Color-Theme-2-hex {
	color: #8CA9FA;
}

.My-Color-Theme-3-hex {
	color: #4172FA;
}

.My-Color-Theme-4-hex {
	color: #45537A;
}

.My-Color-Theme-5-hex {
	color: #345BC7;
}

body {
	background-color: #8CA9FA;
}

.menu {
	color: #20387A;
}

.hello {
	color: #20387A;
}

.list {
	color: #20387A;
}

.photos {
	color: #20387A;
}

.photo-link {
	color: #20387A;
}